# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# Model files
*.pth
*.pt
*.h5
*.pkl
*.joblib

# Cache
.cache/

# Large data
data/raw/*.csv

